{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul class="post-list">
{% csrf_token %}
{% for post in object_list %}
	<div class="post-item">

		{% if user.is_authenticated %}
			<form action="{% url 'create-remove-announcement' %}" method="POST" class="announcement-like-form" id="{{ post.pk }}">
				{% csrf_token %}
				<input type="hidden" value="{{ post.pk }}" class="post_id">
				<button type="submit" class="announcement-dislike-btn like-btn{{post.pk}}">
					{% if post.id in user.get_list_of_favorite_announcements %}
						remove
					{% else %}
						add
					{% endif %}
				</button>
			</form>
		{% endif %}

		<a href="{{ post.get_absolute_url }}">
			<li>
				<img src="{{ post.vehicle.get_vehicle_photo }}">
				<p>{{ post.created | date:"d E H:i" }}</p>
				<h2>{{ post.title | truncatechars:30 }}</h2>
				
				<div class="post-info">
					<table class="tg">
					  <tr>
					    <th class="tg-0lax"><i title="Модель ТС" class="post-icon fa fa-car" aria-hidden="true"></i></th>
					    <th class="tg-0lax"><span>{{ post.vehicle }}</span></th>
					  </tr>
					  <tr>
					    <th class="tg-0lax"><i title="Город" class="post-icon fa fa-map-marker" aria-hidden="true"></i></th>
					    <th class="tg-0lax"><span>{{ post.vehicle.city }}</span></th>
					  </tr>
					  <tr>
					    <td class="tg-0lax"><i title="Пробег" class="post-icon fa fa-tachometer" aria-hidden="true"></i></td>
					    <td class="tg-0lax"><span>{{ post.vehicle.run }} км.</span></td>
					  </tr>
					  <tr>
					    <td class="tg-0lax"><i title="Год выпуска" class="post-icon fa fa-calendar" aria-hidden="true"></i></td>
					    <td class="tg-0lax"><span>{{ post.vehicle.year_of_production }} год</span></td>
					  </tr>
					</table>	
				</div>

				<div class="post-description">
					<p>{{ post.vehicle.description | truncatewords:40 | linebreaks }}</p>
				</div>

				<div class="post-price"><p>Цена: {{ post.vehicle.price }}&dollar;</p></div>
				<span class="announcement-view-counter"><i class="fa fa-eye" aria-hidden="true"> {{ post.views }}</i></span>
			</li>
		</a>
	</div>
{% endfor %}
</ul>

<!-- ____________________Pagination ______________________________--> 
{% if is_paginated %}
	<div class="demo">
	    <nav class="pagination-outer" aria-label="Page navigation">
	        <ul class="pagination">
	            {% if page_obj.has_previous %}
		            <li title="В начало" class="page-item">
		            	<a href="?page=1" class="page-link" aria-label="First">
		                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
		                </a>
		            </li>

		            <li title="Назад" class="page-item">
		            	<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
		                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
		                </a>
		            </li>

		            {% if page_obj.previous_page_number >= 2 %}
		            	<li class="page-item">
		            		<a class="page-link" href="?page={{ page_obj.previous_page_number |add:"-1" }}">{{ page_obj.previous_page_number |add:"-1" }}</a>
		            	</li>
		            {% endif %}

		            <li class="page-item">
		            	<a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
		            </li>
	            {% endif %}
	       
	            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
	            
	            {% if page_obj.has_next %}
		            <li class="page-item">
		            	<a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
		            </li>

		            {% if page_obj.paginator.num_pages >= 3 %}
						{% if page_obj.next_page_number|add:"1" <= page_obj.paginator.num_pages %}
							<li class="page-item">
			            		<a class="page-link" href="?page={{ page_obj.next_page_number |add:"1" }}">{{ page_obj.next_page_number |add:"1" }}</a>
			            	</li>
			            {% endif %}
		            {% endif %}

		            <li title="Вперёд" class="page-item">
		                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
		                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
		                </a>
		            </li>

		            <li title="В конец" class="page-item">
		            	<a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Last">
		                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                </a>
		            </li>
		        {% endif %}
	        </ul>
	    </nav>
	</div>
{% endif %}

{% endblock content %}