{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	h1{"display: block; margin: 0 auto; text-align: center;"},
	h3{"display: block; margin: 0 auto;"}
</style>
<div class="allcontain">
	<div class="contact">
		<div class="newslettercontent">
			<img src="{{ announcement.vehicle.get_vehicle_photo }}" width="50%" height="50%">
			<h3>{{ announcement.title }}</h3>
		</div>
	</div>
</div>

{% endblock content %}