<!doctype html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Autotrade</title>
	<meta name="description" content="Autotrade">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'source/bootstrap-3.3.6-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'source/font-awesome-4.5.0/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style/mystyle.css' %}">
</head>
<body>
<!-- Header -->
<div class="allcontain">
	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li>ПОЗВОНИТЕ НАМ: +8-800-555-35-35 </li>
			</ul>
			{% if user.is_authenticated %}
				<ul class="logreg">
					<li><a href="#">{{ user.email }}</a></li>
					<li><a href="{% url 'logout' %}"><span class="register">Выйти</span></a></li>
				</ul>
			{% else %}
				<ul class="logreg">
					<li><a href="{% url 'login' %}">Войти</a></li>
					<li><a href="{% url 'register' %}"><span class="register">Зарегистрироваться</span></a></li>
				</ul>
			{% endif %}
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo" href="{% url 'index' %}"><img src="{% static 'image/logo1.png' %}" alt="logo"></a>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="{% url 'index' %}">ГЛАВНАЯ</a> </li>
				<li class="active"><a href="{% url 'announcements' %}">ВСЕ АВТО</a> </li>
				<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">КАТЕГОРИИ <span class="caret"></span></a>
						<ul class="dropdown-menu dropdowncostume">
							{% for cat in categories %}
								<li><a href="#">{{ cat }}</a></li>
							{% endfor %}
						</ul>
				</li>
				<li><a href="{% url 'contact' %}">ЧАТ И КОНТАКТЫ</a></li>
				<button><span class="postnewcar">Новое объявление</span></button>
			</ul>
		</div>
	</nav>
</div>

{% block content %}
<!-- Content -->
{% endblock content %}

<!-- ___________________________Bottom Menu ____________________-->
<div class="bottommenu">
	<div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="{% static 'image/collectionlogo1.png' %}" alt="logo1"><span class="dotlogo">&bullet;</span>
	</div>
	<ul class="nav nav-tabs bottomlinks">
		<li role="presentation" ><a href="#/" role="button">О НАС</a></li>
		<li role="presentation"><a href="#/">КАТЕГОРИИ</a></li>
		<li role="presentation"><a href="#/">ПРЕДЗАКАЗЫ</a></li>
		<li role="presentation"><a href="#/">КОНТАКТЫ</a></li>
		<li role="presentation"><a href="#/">ОФОРМИТЬ ПОДПИСКУ НА PLUS+</a></li>
	</ul>
	<p><cite>"Единственные мои друзья, которым я верю до конца, — это автомобили"</cite><br>Enzo Ferrari</p>
	<img src="{% static 'image/line.png' %}" alt="line"> <br>
	<div class="bottomsocial">
	 	<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-google-plus"></i></a>
		<a href="#"><i class="fa fa-pinterest"></i></a>
	</div>


	<div class="footer">
		<div class="copyright">
		  &copy; Autotrade 2021 | <a href="#">Приватность </a>| <a href="#">Политика</a>
		</div>
		<div class="atisda">
			 Designed by <a href="http://www.webdomus.net/">Web Domus Italia - Web Agency </a> 
		</div>
	</div>
</div>
</body>


<script type="text/javascript" src="{% static 'source/bootstrap-3.3.6-dist/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'source/js/isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'source/js/myscript.js' %}"></script>
<script type="text/javascript" src="{% static 'source/bootstrap-3.3.6-dist/js/bootstrap.js' %}"></script>
</html>