{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--_______________________________________ Carousel__________________________________ -->
{% if publications|length >= 3 %}
	<div class="allcontain">
		<div id="carousel-up" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner " role="listbox">
				
				<div class="item active">
					<img src="{{ publications.0.image.url }}">
					<div class="carousel-caption">
						<span title="Просмотров статьи" style="font-size:13px" class="publication-views-counter">
							<i style="font-size:16px" class="fa fa-eye" aria-hidden="true"></i> {{ publications.0.views }}
						</span>
						<span title="Дата публикации" class="publication-date">{{ publications.0.upload_datetime | date:"d E H:i" }}</span>
						<a class="publication-link" href="{{ publications.0.get_absolute_url }}"><h2>{{ publications.0.title }}</h2></a>
						{% autoescape on %}
							<p>{{ publications.0.content | truncatewords:20 | linebreaks }}</p>
						{% endautoescape %}
					</div>
				</div>
				
				<div class="item">
					<img src="{{ publications.1.image.url }}">
					<div class="carousel-caption">
						<span title="Просмотров статьи" style="font-size:13px" class="publication-views-counter">
							<i style="font-size:16px" class="fa fa-eye" aria-hidden="true"></i> {{ publications.1.views }}
						</span>
						<span title="Дата публикации" class="publication-date">{{ publications.1.upload_datetime | date:"d E H:i" }}</span>
						<a class="publication-link" href="{{ publications.1.get_absolute_url }}"><h2>{{ publications.1.title }}</h2></a>
						{% autoescape on %}
							<p>{{ publications.1.content | truncatewords:20 | linebreaks }}</p>
						{% endautoescape %}
					</div>
				</div>
				
				<div class="item">
					<img src="{{ publications.2.image.url }}">
					<div class="carousel-caption">
						<span title="Просмотров статьи" style="font-size:13px" class="publication-views-counter">
							<i style="font-size:16px" class="fa fa-eye" aria-hidden="true"></i> {{ publications.2.views }}
						</span>
						<span title="Дата публикации" class="publication-date">{{ publications.2.upload_datetime | date:"d E H:i" }}</span>
						<a class="publication-link" href="{{ publications.2.get_absolute_url }}"><h2>{{ publications.2.title }}</h2></a>
						{% autoescape on %}
							<p>{{ publications.2.content | truncatewords:20 | linebreaks}}</p>
						{% endautoescape %}
					</div>
				</div>
			
			</div>
			<nav class="navbar navbar-default midle-nav">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
							<h1>МЕНЮ ПОИСКА</h1>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbarmidle">
					<div class="searchtxt">
						<h1>МЕНЮ ПОИСКА</h1>
					</div>
					<form class="navbar-form navbar-left searchformmargin" role="search">
						<div class="form-group">
							<input type="text" class="form-control searchform" placeholder="Введите текст">
						</div>
					</form>
					<ul class="nav navbar-nav navbarborder">
						<li class="li-category">
							<a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Категория<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
							<ul class="dropdown-menu" id="mydd">
								{% for cat in categories %}
									<li><a href="#">{{ cat }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="li-minyear"><a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Состояние <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
							<ul class="dropdown-menu" id="mydd2">
								{% for cond in conditions %}
									<li><a href="#">{{ cond }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="li-maxyear"><a class="btn dropdown-toggle btn-costume"  id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Цвет <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
							<ul class="dropdown-menu" id="mydd3">
								{% for color in colors %}
									<li><a href="#">{{ color }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="li-slideprice">
							<p> <label class="slidertxt" for="amount">Цена </label>
								<input class="priceslider" type="text" id="amount" readonly="readonly">
							</p>
								<div id="slider-range"></div>
								
						</li>
						<li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
					</ul>
	 
				</div>
			</nav>
		</div>
	</div>
{% endif %}

<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	{% if popular_announcements %}
	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span>П О П У Л Я Р Н Ы Е<span class="carstxt">А В Т О</span>&bullet;</h1>
	</div>
	<div class="feturedimage">
		<div class="row firstrow">
			<div class="col-lg-6 costumcol colborder1">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
						<a href="{{ popular_announcements.1.get_absolute_url }}"><img src="{{ popular_announcements.0.vehicle.get_vehicle_photo }}" alt="porsche"></a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>{{ popular_announcements.0.title }}</h1>
							<p>{{ popular_announcements.0.vehicle }}</p>
			 				<h2>Price {{ popular_announcements.0.vehicle.price }}&dollar;</h2>
			 				<button id="btnRM" onclick="rmtxt()">БОЛЬШЕ</button>
			 				<div id="readmore">
			 						<h1>{{ popular_announcements.0.vehicle }}</h1>
			 						<p>{{ popular_announcements.0.vehicle.description | linebreaks | truncatewords:40 }}</p>
			 						<button id="btnRL">МЕНЬШЕ</button>
			 				</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<a href="{{ popular_announcements.1.get_absolute_url }}"><img src="{{ popular_announcements.1.vehicle.get_vehicle_photo }}" alt="porsche1"></a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1>{{ popular_announcements.1.title }}</h1>
							<p>{{ popular_announcements.1.vehicle }}</p>
			 				<h2>Price {{ popular_announcements.1.vehicle.price }}&dollar;</h2>
			 				<button id="btnRM2">БОЛЬШЕ</button>
			 				<div id="readmore2">
			 						<h1>{{ popular_announcements.1.vehicle }}</h1>
			 						<p>{{ popular_announcements.1.vehicle.description | linebreaks | truncatewords:40 }}</p>
			 						<button id="btnRL2">МЕНЬШЕ</button>
			 				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
<!-- ________________________LATEST CARS SECTION _______________________-->
{% if latest_announcements %}
<div class="latestcars">
	<h1 class="text-center">&bullet; ПОСЛЕДНИЕ ПУБЛИКАЦИИ &bullet;</h1>
	<ul class="nav nav-tabs navbar-left latest-navleft">
		<li role="presentation" class="li-sortby"><span class="sortby">Отсортировать: </span></li>
		<li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">Самые свежие </a></li>
		<li data-filter=".POPULAR" role="presentation"><a href="#mostpopular" class="prcBtnR">Самые популярные </a></li>
		<li role="presentation"><a href="#" class="alphSort">По алфавиту </a></li>
		<li data-filter=".HPRICE" role="presentation"><a href="#" class="prcBtnH">От дорогих </a></li>
		<li data-filter=".LPRICE" role="presentation"><a href="#" class="prcBtnL">От дешёвых </a></li>
		<li id="hideonmobile">
	</ul>
</div>
<br>
<br>
<!-- ________________________Latest Cars Image Thumbnail________________-->
	<div class="grid">
		<div class="row">
			{% for announcement in latest_announcements %}

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="txthover">
						<img src="{{ announcement.vehicle.get_vehicle_photo }}" alt="car1">
							<div class="txtcontent">
								<div class="stars">
									<div class="glyphicon glyphicon-star"></div>
									<div class="glyphicon glyphicon-star"></div>
									<div class="glyphicon glyphicon-star"></div>
								</div>
								<div class="simpletxt">
									<h3 class="name">{{ announcement.vehicle }}</h3>
									<p>{{ announcement.vehicle.description | truncatewords:10 }}</p>
		 							<h4 class="price"> {{ announcement.vehicle.price }}&dollar;</h4>
		 							<a href="{{ announcement.get_absolute_url }}"><button>БОЛЬШЕ</button></a><br>
		 							<div class="wishtxt">
			 							<a href="#">
			 								<p class="paragraph1"> Добавить в избранное <span class="glyphicon glyphicon-heart"></span></p>
			 							</a>
			 							<a href="#">
			 								<p class="paragraph2"> Сравнить <span src="#" class="icon"><img src="{% static 'image/compicon.png' %}" alt="compicon"></span></p>
			 							</a>
			 						</div>
								</div>
								<div class="stars2">
									<div class="glyphicon glyphicon-star"></div>
									<div class="glyphicon glyphicon-star"></div>
									<div class="glyphicon glyphicon-star"></div>
								</div>
							</div>
					</div>	 
				</div>

			{% endfor %}
		</div>
	</div>
{% endif %}
<!-- _______________________________News Letter ____________________-->
	<div class="newslettercontent">
		<div class="leftside">
			<img src="{% static 'image/border.png' %}" alt="border">
			<h1>НОВОСТИ</h1>
			<p>Оформляй подписку на Autotrade plus+ <br>
				дабы не пропустить новые объявления, спец.предложения
				и разную информации об актуальных акциях.</p>
		</div>
		<div class="rightside">
			<img class="newsimage" src="{% static 'image/newsletter.jpg' %}" alt="newsletter">
			<input type="text" class="form-control" id="subemail" placeholder="ПОЧТА">
			<button>ОФОРМИТЬ</button>
		</div>
	</div>
</div>

{% endblock content %}