{% extends 'base.html' %}
{% load static %}
{% block content %}
	
<div class="allcontain">
	<div class="contact">
		<div class="newslettercontent">
			<img src="{{ publication.image.url }}">
			<h2>{{ publication.title }}</h2>
			<p>{{ publication.content | linebreaks }}</p>
		</div>
	</div>
</div>

{% endblock content %}