{% extends 'base.html' %}
{% load static %}
{% block content %}

<form method="post" class="login-form">
	<h3>Register</h3>
	{% csrf_token %}
	<div>{{ form.non_field_errors }}</div>

	{% for pole in form %}
		<div class="login-pole">
			<label class="login-label" for="{{ pole.id_for_label }}">{{ pole.label }}: </label>{{ pole }}
			<div>{{ pole.errors }}</div>
		</div>
	{% endfor %}

	<button type="submit" class="submit-auth-btn">Register</button>
</form>

{% endblock content %}